<section id="experience" class="container content-section text-center">
        <div class="content-section-a">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Experience</h2>
              <hr class="intro-divider">
              <br/>
              <font size="4px">
                <p><font size="5px">Hello,</font></p>
                <p>My name is <font color="Red">Zach</font>.</p>
              
                <p>I study Computer Science & Economics</p> 
          
                <p>I'm fascinated by how technology is integrated in the world around us.</p>

                <p>I am pursuingoidfjvsiojdfhdfuh a career in the field of Software Engineering.</p>

               
                <br/>
              </font>
            </div>
        </div>
    </section>